Source: libfm-semplice
Section: libs
Priority: optional
Maintainer: Eugenio "g7" Paolantonio <me@medesimo.eu>
XSBC-Original-Maintainer: Debian LXDE Maintainers <lxde-debian@lists.lxde.org>
XSBC-Original-Uploaders:
 Andrew Lee (李健秋) <ajqlee@debian.org>,
 Martin Bagge <brother@bsnet.se>,
 Andriy Grytsenko <andrej@rep.kiev.ua>
Build-Depends:
 debhelper (>= 9), autotools-dev, gtk-doc-tools, intltool,
 libdbus-glib-1-dev, libglib2.0-dev, libgtk-3-dev, libexif-dev,
 libmenu-cache-dev (>=0.5.0), libtool, pkg-config, valac,
 libglib2.0-doc, libgtk-3-doc
Standards-Version: 3.9.5
Homepage: http://pcmanfm.sourceforge.net/
Vcs-Browser: https://github.com/semplice/libfm
Vcs-Git: https://github.com/semplice/libfm.git

Package: libfm-semplice4
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${shlibs:Depends}, libfm-semplice-data (>= 1.2.0~), lxmenu-data
Recommends: libfm-semplice-modules
Conflicts: libfm4
Replaces: libfm4
Description: file management support (core library)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 Some features:
  * Desktop-independent, following FreeDesktop standards;
  * Fast, light on memory usage, and responsive - well suited to
    less powerful hardware such as netbooks and thin clients;
  * Uses GIO/GVFS (like Nautilus) for Trash support and access to
    remote file systems (FTP, SFTP, WebDAV, Windows shares, etc.);
  * Clipboard operations are compatible with GTK+/GNOME and Qt/KDE;
  * Supports both Drag-and-Drop, and the X Direct Save protocol;
  * Reusable design with the core functions separated out to
    simplify porting to other GUIs.
 .
 This package contains the core library.

Package: libfm-semplice-extra4
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libfm-extra4
Replaces: libfm-extra4
Description: file management support (extra library)
 LibFM provides file management functions built on top of Glib/GIO
 giving a convenient higher-level API.
 .
 This package contains standalone library which extends libfm.

Package: libfm-semplice-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libfm-semplice4 (= ${binary:Version}),
 libfm-semplice-extra4 (= ${binary:Version})
Suggests: libfm-semplice-doc
Conflicts: libfm-dev
Replaces: libfm-dev
Description: file management support (core development files)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the development files for GUI-independent build.

Package: libfm-semplice-gtk3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libfm-semplice-dev (= ${binary:Version}),
 libfm-semplice-gtk3-4 (= ${binary:Version})
Conflicts: libfm-gtk-dev
Replaces: libfm-gtk-dev
Description: file management support (GTK+ GUI development files)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the development files for builds using GTK+ library.

Package: libfm-semplice-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Conflicts: libfm-doc
Replaces: libfm-doc
Recommends: libglib2.0-doc, libgtk-3-doc
Description: file management support (development documentation)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the development HTML documentation.

Package: libfm-semplice-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libfm-semplice4 (= ${binary:Version}),
 libfm-semplice-extra4 (= ${binary:Version})
Conflicts: libfm-dbg
Description: file management support (libfm debug)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the debugging symbols for GUI independent library.

Package: libfm-semplice-gtk3-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libfm-semplice-gtk3-4 (= ${binary:Version})
Conflicts: libfm-gtk-dbg
Replaces: libfm-gtk-dbg
Description: file management support (libfm-gtk3 debug)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the debugging symbols for GTK+ library.

Package: libfm-semplice-modules-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libfm-semplice-modules (= ${binary:Version})
Conflicts: libfm-modules-dbg
Replaces: libfm-modules-dbg
Description: file management support (libfm-modules debug)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the debugging symbols for libfm modules.

Package: libfm-semplice-data
Section: misc
Architecture: all
Depends: ${misc:Depends}
Conflicts: libfm-data
Replaces: libfm-data
Description: file management support (common data)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the common data of the core library.

Package: libfm-semplice-gtk-data
Section: misc
Architecture: all
Depends: ${misc:Depends}
Conflicts: libfm-gtk-data
Replaces: libfm-gtk-data
Description: file management support (GTK+ library common data)
 LibFM provides file management functions built on top of Glib/GIO,
 giving a convenient higher-level API.
 .
 This package contains the common data of the GTK+ library.

Package: libfm-semplice-gtk3-4
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${shlibs:Depends}, libfm-semplice4 (= ${binary:Version}),
         libfm-semplice-gtk-data (>= 1.2.0~)
Suggests: libfm-semplice-tools, nautilus-actions
Conflicts: libfm-gtk4
Replaces: libfm-gtk4
Description: file management support (GTK+ 3.0 GUI library)
 LibFM provides file management functions built on top of Glib/GIO
 giving a convenient higher-level API.
 .
 This package contains the GTK+ version 3.0 GUI.

Package: libfm-semplice-tools
Section: misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libfm-tools, lxshortcut
Replaces: libfm-tools, lxshortcut
Description: file management support (utilities)
 LibFM provides file management functions built on top of Glib/GIO
 giving a convenient higher-level API.
 .
 This package contains applications libfm-pref-apps and lxshortcut.

Package: libfm-semplice-modules
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libfm-modules
Replaces: libfm-modules
Description: file management support (loadable modules for library)
 LibFM provides file management functions built on top of Glib/GIO
 giving a convenient higher-level API.
 .
 This package contains loadable modules used by libfm* libraries.
